/* //test - page nav (개발 서버 적용시 삭제) */
.page-hgroup{width: 100%; background: url("https://m.kati.net/images/www/common/bg_subtop.jpg") no-repeat center / cover; height: 80px;}
.page-hgroup .wrap{position: relative; height: 100%;color: #fff;}
.page-hgroup .page-title{ font-size: 20px; font-weight: 600; padding:30px 0 0 30px;}
/* //test */

/* mobile */
.btn.ico{width: 30px;height: 30px;}
#chat_container{max-width: 100%;padding:0;}
.chatbox{border: 0;border-radius: 0;padding: 20px;}
.chatbox > .inner{justify-content: flex-start;}
.chatbox.active > .inner{padding-top: inherit;justify-content: space-between;}

.chatbox h1.title{padding-top:120px;font-size: 28px;}
.chatbox .sub_tit{font-size: 16px;padding-top: 5px;}
.chat_content .chat_message .info_txt{white-space: pre-wrap;position:relative;top:0;left:0;display: block;padding:10px 0 0 0;}

.chatbox .input_section{position: sticky !important;}
.chatbox .input_section .input_box{margin:0; padding:20px; border-radius: 15px;}
.chatbox .input_section .disclaimer{padding: 10px 0 0 0;font-size: 10px;}
.chatbox .input_section .btn.submit::before{font-size: 14px;}

.chatbox .prompt_input{font-size: 16px;}

.chat_content{height: calc(100% - 200px);gap: 20px;}
.chat_content .answer_contents{padding-bottom: 0;}
.chat_content .answer_contents .info_location{flex-wrap: wrap;gap: 3px;box-sizing: border-box;width: 100%;}
.chat_content .answer_contents .info_location .tit_wrap{font-size: 14px;}
.chat_content .answer_contents .info_location .tit{margin-bottom: 0;}
.chat_content .answer_contents .info_location > ul li{font-size:14px;}
.chat_content .answer_contents .info_location > ul li:not(:last-child){gap:5px;}
.chat_content .answer_contents .info_location > ul li:not(:last-child)::after{margin-right: 5px;}

.chat_content .chat_scroll{bottom: 15px;min-height: 30px;}

.chat_content .response_controls{flex-wrap: wrap;gap: 10px;flex-direction: column-reverse;align-items: flex-start;}
.chat_content .disclaimer.ai{align-items: flex-start;}
.chat_content .disclaimer.ai::before{margin-top: 3px;}

.feedback_contents.active{margin-bottom: 20px;}
.feedback_contents .btn{text-align: left;}

/* 출처 및 연관질의 */
.reference_section .reference_list li{flex-direction: column;gap: 5px;align-items: flex-start;font-size: 14px;}
.reference_section .reference_list li span{width: 100%;}

/* 모달 */
.modal{align-items: flex-end;}
.modal .modal_content{border-radius: 20px 20px 0 0;}
.modal .btn_wrap{justify-content: center;}
.modal .btn_wrap .btn{width: 50%;height: 56px;}
.modal .feedback_current{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);font-size: 18px;width: 60%;text-align: center;}